#bannerImg{
    width: 1240px;
    height: 200px;
}

#calcularImg{
    width: 200px;
    height: 200px;
}

#pictureImg{
    width:300px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}